<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brewery.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @brewery.desc %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @brewery.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @brewery.lon %>
</p>

<p>
  <strong>City:</strong>
  <%= @brewery.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @brewery.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @brewery.country %>
</p>

<p>
  <strong>Food:</strong>
  <%= @brewery.food %>
</p>

<p>
  <strong>Tour:</strong>
  <%= @brewery.tour %>
</p>

<p>
  <strong>Address:</strong>
  <%= @brewery.address %>
</p>

<p>
  <strong>Seasonal:</strong>
  <%= @brewery.seasonal %>
</p>

<p>
  <strong>Take home:</strong>
  <%= @brewery.take_home %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @brewery.postcode %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
